* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup-page {
    background-color: #1f1f1f;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.logo {
  width: 30%;
}

.signup-form {
  width: 40%;
  margin-top: 20px;
  color: #fefefe;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-form > input {
  width: 100%;
  padding: 15px;
  margin-top: 8px;
  border: 1px solid #fefefe;
  background-color: #1f1f1f;
  color: #fefefe;
  border-radius: 8px;
}

.signup-form > input:-webkit-autofill {
  background-color: #1f1f1f !important;
  -webkit-box-shadow: 0 0 0 1000px #1f1f1f inset !important;
  color: #fefefe !important;
  -webkit-text-fill-color: #fefefe !important;
}

.signup-form > input:nth-of-type(1) {
  margin-bottom: 15px;
}

.signup-form > input:focus {
  outline: none;
  border: 1px solid #1ed760;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding: 15px;
  margin-top: 8px;
  border: 1px solid #fefefe;
  background-color: #1f1f1f;
  color: #fefefe;
  border-radius: 8px;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 56%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc; 
}

.toggle-password:hover {
  color: #fefefe; 
}

.signup-btn {
  width: 300px;
  padding: 10px 0px;
  text-align: center;
  background-color: #fefefe;
  border-radius: 50px;
  color: #1f1f1f;
  font-weight: 600;
  margin-top: 20%;
}

a {
  text-decoration: none;
}